In [2]:
import requests
from bs4 import BeautifulSoup
import bleach
import pprint
import pandas as pd

In [117]:
#try looping over multiple web pages
#THIS WORKS!!!! THIS IS GOOD!!!
#add piece that automatically stops when all listings are done

listing_info = []
for i in range(1,2):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5332921&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
    link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        links_stage.append(job_elem)
        for x in links_stage:
            link_elem = (x.get('href'))
            page = requests.get((x.get('href')))
            soup = BeautifulSoup(page.content, 'html.parser')
            results = soup.find(id="content")  
            place_stage = results.find(class_="display-inline-block text-body text-gray-lightest")
            place_elem = bleach.clean(place_stage, tags=[], strip=True).strip()
            
        listing_info.append((title_elem,price_elem,"Berkeley, CA", link_elem, place_elem))
    print(len(listing_info))

KeyboardInterrupt:

In [118]:
listing_info

[('Vintage Clothing, Tweed Jacket',
  '42.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/767153535/vintage-clothing-tweed-jacket?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-1&organic_search_click=1&cns=1',
  'Los Angeles, California'),
 ('womens 70s shirts white floral blouse vintage hippie boho top womens 70s clothing',
  '46.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/778406827/womens-70s-shirts-white-floral-blouse?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-2&organic_search_click=1&frs=1&cns=1',
  'Los Angeles, California'),
 ('Vintage Clothing, Satin Ombre Pencil Skirt',
  '15.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/755616696/vintage-clothing-satin-ombre-pencil?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-3&organic_search_click=1',
  'Los Angeles, California'),
 ("50s 60s Angora Knit Beaded Blouse - Small | Vintage Clothing, Women's Clothing",
  '18.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/695295312/50s-60s-angora-knit-beaded-blouse-small?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-4&organic_search_click=1&frs=1&cns=1',
  'Pasadena, California'),
 ('Vintage Clothing, Western Maxi Skirt with matching Belt',
  '42.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/755033870/vintage-clothing-western-maxi-skirt-with?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-5&organic_search_click=1&cns=1',
  'Los Angeles, California'),
 ("Vintage 70s Barbizon Nightgown - Large | Women's Clothes, Vintage Clothing",
  '18.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/709142023/vintage-70s-barbizon-nightgown-large?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-6&organic_search_click=1&frs=1',
  'Pasadena, California'),
 ("70s Striped Shirt - Extra Large | Vintage Clothing, Women's Clothing, Beige Shirt",
  '17.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/757846558/70s-striped-shirt-extra-large-vintage?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-7&organic_search_click=1&frs=1&cns=1',
  'Pasadena, California'),
 ('70s Style Tan Beige Corduroy Vintage Jacket | 70s clothing, 80s clothing, 90s clothing, vintage corduroy jacket, aesthetic clothing',
  '35.00',
  'Berkeley, CA',
  'https://www.etsy.com/listing/765380104/70s-style-tan-beige-corduroy-vintage?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-8&organic_search_click=1&frs=1&cns=1',
  'San Diego, California'),
 ('1960s Sears two-piece set. Midi skirt and blouse. 60s-pink skirt-pink blouse-60s clothing-vintage clothing',
  '46.99',
  'Berkeley, CA',
  'https://www.etsy.com/listing/750389338/1960s-sears-two-piece-set-midi-skirt-and?ga_order=most_relevant&ga_search_type=vintage&ga_view_type=gallery&ga_search_query=womens+vintage+clothing&ref=sr_gallery-1-9&organic_search_click=1&frs=1',
  'Long Beach, California')]

In [113]:
columns = ['Description','Price','Location','link','place']
listing_data = pd.DataFrame(listing_info,columns=columns)

In [119]:
listing_data

,Description,Price,Location,link,place
0,womens 70s shirts white floral blouse vintage ...,46.00,"Berkeley, CA",https://www.etsy.com/listing/778406827/womens-...,"Los Angeles, California"
1,"Vintage Clothing, Tweed Jacket",42.00,"Berkeley, CA",https://www.etsy.com/listing/767153535/vintage...,"Los Angeles, California"
2,"Vintage Clothing, Satin Ombre Pencil Skirt",15.00,"Berkeley, CA",https://www.etsy.com/listing/755616696/vintage...,"Los Angeles, California"
3,50s 60s Angora Knit Beaded Blouse - Small | Vi...,18.00,"Berkeley, CA",https://www.etsy.com/listing/695295312/50s-60s...,"Pasadena, California"
4,Vintage 70s Barbizon Nightgown - Large | Women...,18.00,"Berkeley, CA",https://www.etsy.com/listing/709142023/vintage...,"Pasadena, California"
5,"Vintage Clothing, Western Maxi Skirt with matc...",42.00,"Berkeley, CA",https://www.etsy.com/listing/755033870/vintage...,"Los Angeles, California"
6,70s Style Tan Beige Corduroy Vintage Jacket | ...,35.00,"Berkeley, CA",https://www.etsy.com/listing/765380104/70s-sty...,"San Diego, California"
7,70s Striped Shirt - Extra Large | Vintage Clot...,17.00,"Berkeley, CA",https://www.etsy.com/listing/757846558/70s-str...,"Pasadena, California"
8,Vintage Fishermen Pullover Sweater Women's Sma...,49.00,"Berkeley, CA",https://www.etsy.com/listing/755046082/vintage...,"San Anselmo, California"
9,1960s Sears two-piece set. Midi skirt and blou...,46.99,"Berkeley, CA",https://www.etsy.com/listing/750389338/1960s-s...,"Long Beach, California"
10,Plaid Long Sleeve Women's Dress | Henry Lee | ...,31.45,"Berkeley, CA",https://www.etsy.com/listing/751025804/plaid-l...,"Clovis, California"
11,Vintage Boho Fruit Print Mini Dress - Extra Sm...,18.00,"Berkeley, CA",https://www.etsy.com/listing/757584862/vintage...,"Pasadena, California"
12,"Vintage Clothing, Structured Peplum Top/Jacket",40.00,"Berkeley, CA",https://www.etsy.com/listing/767157673/vintage...,"Los Angeles, California"
13,80s Salmon Pink Fit &amp; Flare Dress - XXS | ...,24.00,"Berkeley, CA",https://www.etsy.com/listing/757845458/80s-sal...,"Pasadena, California"

In [ ]:
listing_data.columns

### Getting exact place takes way way too long so will probably have to sample from different cities

In [121]:

listing_info = []
for i in range(1,2):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5332921&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
    link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        links_stage.append(job_elem)
        for x in links_stage:
            link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"California", link_elem))
    print(len(listing_info))

48

In [125]:
cities = ["Alameda","El Cerrito","Mountain View","San Leandro","Albany","Emeryville","Napa"]

listing_info = []
for i in range(1,2):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5332921&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
    link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        links_stage.append(job_elem)
        for x in links_stage:
            link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"California", link_elem))
    print(len(listing_info))

['Alameda',
 'El Cerrito',
 'Mountain View',
 'San Leandro',
 'Albany',
 'Emeryville',
 'Napa']

In [ ]:
San Mateo
American Canyon
Fairfax
Newark
San Pablo
Antioch
Fairfield
Novato
San Rafael
Atherton
Foster City
Oakland
San Ramon
Belmont

## Oakland

In [23]:
#oakland: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5378538&explicit=1&ref=pagination&page=2        
        
listing_info = []
for i in range(1,108):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5378538&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Oakland", "California"))
    print(len(listing_info))

columns = ['Description','Price','City','State']
listing_data = pd.DataFrame(listing_info,columns=columns)
oakland_listings = listing_data

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5082

In [26]:
oakland_listings = listing_data

In [28]:

oakland_listings['Region'] = 'Northern California'

In [29]:
oakland_listings.head()

,Description,Price,City,State,Region
0,Mickey Mouse Disney 1990's Vintage Tshirt,25.00,Oakland,California,Northern California
1,Vintage Esprit Pastel Long Sleeve Button Up Pa...,78.95,Oakland,California,Northern California
2,1910s Art Nouveau Dress | Vintage Teens Edward...,185.00,Oakland,California,Northern California
3,Vintage 1990s Olive Green Velveteen Quilted Bo...,22.50,Oakland,California,Northern California
4,vintage | grandma | sweater | 70s | mustard ye...,40.00,Oakland,California,Northern California

In [30]:
#San Francisco: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5391959&explicit=1&ref=pagination&page=2
        
listing_info = []
for i in range(1,148):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5391959&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"San Francisco", "California","Northern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
sanfrancisco_listings = listing_data
sanfrancisco_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800
6848
6896
6944
6959
6959

,Description,Price,City,State,Region
0,Vintage 1970s Prarie Skirt,30.00,San Francisco,California,Northern California
1,Vintage Black Leather Motorcycle Jacket | Unis...,100.00,San Francisco,California,Northern California
2,Velvet Victoriana Mini Dress | vintage dress 1...,82.00,San Francisco,California,Northern California
3,1950s Dalton cashmere cardigan small | vintage...,122.00,San Francisco,California,Northern California
4,Vintage Levi's 501 Dark Wash Jeans,48.00,San Francisco,California,Northern California

In [7]:
#Santa Cruz: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5393052&explicit=1&ref=pagination&page=2
        
listing_info = []
for i in range(1,31):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5393052&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Santa Cruz", "California"))
    print(len(listing_info))

columns = ['Description','Price','City','State']
listing_data = pd.DataFrame(listing_info,columns=columns)
santacruz_listings = listing_data
santacruz_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424

,Description,Price,City,State
0,90s Brown Tweed Textured Poly Wash N Wear Trou...,39.60,Santa Cruz,California
1,50s Beaded Cardigan Vintage Blairmoor Original...,47.00,Santa Cruz,California
2,Vintage Gunnies Quilted Denim Jacket,36.00,Santa Cruz,California
3,Vintage Pendleton Cardigan,35.00,Santa Cruz,California
4,90s High Waist Wash and Wear Black Grid Pleate...,36.00,Santa Cruz,California

In [8]:
#Sacramento: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5389489&explicit=1&ref=pagination&page=2

        
listing_info = []
for i in range(1,31):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5389489&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Sacramento", "California"))
    print(len(listing_info))

columns = ['Description','Price','City','State']
listing_data = pd.DataFrame(listing_info,columns=columns)
sacramento_listings = listing_data
sacramento_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424

,Description,Price,City,State
0,Womens vintage 1980's/90's striped culotte sho...,30.60,Sacramento,California
1,Adorable vintage 1970s womens sweater top. S...,41.40,Sacramento,California
2,Vintage 1960's Dalton Cashmere Cardigan Sweate...,53.00,Sacramento,California
3,Amazing womens vintage 1980s denim jumpsuit/...,58.00,Sacramento,California
4,"Vintage 60s 70s Jumpsuit, Paisley, Yellow, Psy...",36.00,Sacramento,California

In [9]:
dfs = [oakland_listings, sanfrancisco_listings, santacruz_listings, sacramento_listings]
combined = pd.concat(dfs)

In [10]:
combined.reset_index(inplace=True)

In [13]:
combined

,index,Description,Price,City,State,region
0,0,Mickey Mouse Disney 1990's Vintage Tshirt,25.00,Oakland,California,Northern California
1,1,Vintage Esprit Pastel Long Sleeve Button Up Pa...,78.95,Oakland,California,Northern California
2,2,Vintage 1990s Olive Green Velveteen Quilted Bo...,22.50,Oakland,California,Northern California
3,3,1910s Art Nouveau Dress | Vintage Teens Edward...,185.00,Oakland,California,Northern California
4,4,Vintage 1950s Ivory Lace Embroidered Floral Bl...,20.00,Oakland,California,Northern California
5,5,vintage | grandma | sweater | 70s | mustard ye...,40.00,Oakland,California,Northern California
6,6,Vintage '60s Vibrant ROSA RAY Chicago Mid Cent...,46.00,Oakland,California,Northern California
7,7,Vintage tunic womens dress,15.00,Oakland,California,Northern California
8,8,Candi Jones California Womens Boho Coachell...,100.00,Oakland,California,Northern California
9,9,vintage 1990s floral skirt / pastel button-up ...,34.00,Oakland,California,Northern California
10,10,vintage 70's dress,20.00,Oakland,California,Northern California
11,11,1990's Woman's Vintage 100% Leather Forest Mos...,89.00,Oakland,California,Northern California
12,12,Vintage 90s Swatch Sweatshirt With Pockets Rhi...,55.00,Oakland,California,Northern California
13,13,Vintage Deadstock Wrangler Staright Leg Jeans ...,29.99,Oakland,California,Northern California
14,14,1800s Womens Victorian Vest | Vintage 1900s Iv...,40.00,Oakland,California,Northern California
15,15,Cats Butts Front and Back 1990s vintage Tshirt,35.00,Oakland,California,Northern California
16,16,90s vintage black Celtic t shirt / Druid Celti...,39.00,Oakland,California,Northern California
17,17,1940s Delicious Darla Color Block Frock | Vint...,265.00,Oakland,California,Northern California
18,18,"Vintage 1940s Black as Night Wool Dress, sz L/XL",65.00,Oakland,California,Northern California
19,19,1950s Mid Century Mod Rockabilly Vintage ARGYL...,47.60,Oakland,California,Northern California
20,20,Vintage todd 1 windbreaker size xl bboy breakd...,59.95,Oakland,California,Northern California
21,21,Boho Vintage 1950s 1960s Mid-Century Teal &amp...,40.00,Oakland,California,Northern California
22,22,Gorgeous Vintage '70s STUDIO WEAVERS Green Ton...,42.00,Oakland,California,Northern California
23,23,"Vintage 8 strap Black Satin Garter Belt, Suspe...",46.00,Oakland,California,Northern California
24,24,"vintage cropped cream colored jacket, 80s cott...",35.00,Oakland,California,Northern California
25,25,Vintage - 1980's - Green &amp; Pink Flamenco S...,100.00,Oakland,California,Northern California
26,26,Vintage Cream Fuzzy Turtleneck Sweater by Joli...,18.75,Oakland,California,Northern California
27,27,Vintage '70s PEAR BLOSSOM Acrylic Knit Striped...,32.00,Oakland,California,Northern California
28,28,Vintage 80s Pink Sweetheart Nylon Track Jacket,30.00,Oakland,California,Northern California
29,29,Vintage '70s TOPPETTES DISCO Dance Queen Metal...,38.00,Oakland,California,Northern California
...,...,...,...,...,...,...
5666,1394,Vintage 1970s MIDI DRESS in Bright Blue with W...,45.00,Sacramento,California,Northern California
5667,1395,60s 70s vintage mini dress medium large m l ps...,45.00,Sacramento,California,Northern California
5668,1396,1940's Cold Rayon Novelty Print Dress - Vintag...,142.00,Sacramento,California,Northern California
5669,1397,Vintage Lanz sundress tulip flowers shirt dres...,70.00,Sacramento,California,Northern California
5670,1398,Jonathan Logan 1970s Vintage Halter Dress Blac...,45.00,Sacramento,California,Northern California
5671,1399,"Vintage STYLE BOX includes retro top, shorts, ...",99.00,Sacramento,California,Northern California
5672,1400,Vintage 60s 70s silver polkadot black dress M,42.00,Sacramento,California,Northern California
5673,1401,Vintage Military Shirt // Vtg 1970s Distresse...,42.00,Sacramento,California,Northern California
5674,1402,90s 80s vintage formal red sweetheart dress s ...,95.00,Sacramento,California,Northern California
5675,1403,70s Red Short Sleeve Tunic Blouse // Vintage P...,24.00,Sacramento,California,Northern California
5676,1404,Vintage Denim Shorts // Vtg 90s LEVI'S Made...,25.60,Sacramento,California,Northern California
5677,1405,60s 70s vintage maxi dress tent medium large t...,55.00,Sacramento,California,Northern California
5678,1406,"Vintage 70s Does 40s Peplum Dress, Caron Petit...",32.00,Sacramento,California,Northern California
5679,1407,1940s Vintage Hollywood Glam Gray/Pale Pink Sa...,145.00,Sacramento,California,Northern California
5680,1408,Awesome vintage 1980s unisex Fairview Lake Or...,41.40,Sacramento,California,Northern California
5681,1409,Vintage 80s dress striped purple black size 3/4,35.00,Sacramento,California,Northern California
5682,1410,1990's American Gladiators Bodysuit S Small XS...,65.00,Sacramento,California,Northern California
5683,1411,Vintage Jill Jr. grey winter coat,150.00,Sacramento,California,Northern California
5684,1412,Vintage 70s Western Pearl Snap Shirt Size S-M ...,15.00,Sacramento,California,Northern California
5685,1413,Vintage Bell Bottom Jeans // Vtg 1970s LEE M...,98.00,Sacramento,California,Northern California
5686,1414,Vintage 1960s PSYCHEDELIC DRESS with a Patchwo...,52.00,Sacramento,California,Northern California
5687,1415,1950's BVD Thrashed Thermal Tee S Small XS M M...,32.00,Sacramento,California,Northern California
5688,1416,Oscar de la Renta 1960's Vintage Cocktail Wrap...,148.00,Sacramento,California,Northern California
5689,1417,Vintage 1980s does 30s FLORAL MIDI DRESS with ...,52.00,Sacramento,California,Northern California
5690,1418,70s Baby Blue Blouse // Vintage Deep V Long Sl...,25.00,Sacramento,California,Northern California
5691,1419,Vintage 60s black dress tiered lace fitted wig...,30.00,Sacramento,California,Northern California
5692,1420,Vintage 1980s does 40s DRESS with a Surplice W...,49.50,Sacramento,California,Northern California
5693,1421,Vintage Unisex Camo Military Jacket,35.00,Sacramento,California,Northern California
5694,1422,70s Groovy Brown Striped Blouse // Vintage Lon...,28.00,Sacramento,California,Northern California
5695,1423,Vintage Lace Dress Sweetheart Neckline Mid...,130.00,Sacramento,California,Northern California

In [12]:
combined['region'] = 'Northern California'

In [14]:
#los angeles: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5368361&explicit=1&ref=pagination&page=2
        
listing_info = []
for i in range(1,31):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5368361&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Los Angeles", "California","Southern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
LA_listings = listing_data
LA_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424

,Description,Price,City,State,Region
0,"Vintage Clothing, Champagne Silk Blouse",48.00,Los Angeles,California,Southern California
1,vintage 70s red snap sanforized bib workwear u...,175.00,Los Angeles,California,Southern California
2,vintage 70s high waist disco raw hem light was...,85.00,Los Angeles,California,Southern California
3,Vintage Linen Vest with Coconut wood Buttons W...,20.00,Los Angeles,California,Southern California
4,"Vintage Clothing, Tweed Jacket",42.00,Los Angeles,California,Southern California

In [15]:
#San Diego: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5391811&explicit=1&ref=pagination&page=2
        
listing_info = []
for i in range(1,31):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5391811&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"San Diego", "California","Southern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
SD_listings = listing_data
SD_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424

,Description,Price,City,State,Region
0,Vintage 80s Ivory Silk Dress 1980s Solid Cream...,70.20,San Diego,California,Southern California
1,Vintage Skirt Set Dusty Rose Matching Clutch W...,104.00,San Diego,California,Southern California
2,"Purple Embroidered Blouse, Vintage Women's Clo...",18.00,San Diego,California,Southern California
3,vintage DENIM COAT jean jacket chore coat lots...,33.60,San Diego,California,Southern California
4,embroidery vintage blouse vintage top vintage ...,39.00,San Diego,California,Southern California

In [18]:
#Santa Barbara: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5392952&explicit=1&ref=pagination&page=2
        
listing_info = []
for i in range(1,20):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5392952&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Santa Barbara", "California","Southern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
SB_listings = listing_data
SB_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
856

,Description,Price,City,State,Region
0,Vintage 80s rose knit sweater,55.00,Santa Barbara,California,Southern California
1,Vintage 70s Gunne Sax dress,75.00,Santa Barbara,California,Southern California
2,Vintage Authentic Coogi Sweater,160.00,Santa Barbara,California,Southern California
3,Original YES vintage 1980 tour SHIRT,70.00,Santa Barbara,California,Southern California
4,White Cotton Pique Two Button Short Jacket Wit...,30.00,Santa Barbara,California,Southern California

In [35]:
# palm springs: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5380668&explicit=1&ref=pagination&page=2

listing_info = []
for i in range(1,22):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5380668&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Palm Springs", "California","Southern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
palmsprings_listings = listing_data
palmsprings_listings.head()

48
96

KeyboardInterrupt:

In [31]:
# Brooklyn: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5110302&explicit=1&ref=pagination&page=2

listing_info = []
for i in range(1,246):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5110302&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Brooklyn", "New York","Eastern US"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
brooklyn_listings = listing_data
brooklyn_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800

AttributeError: 'NoneType' object has no attribute 'find_all'

In [32]:
columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
brooklyn_listings = listing_data
brooklyn_listings.head()

,Description,Price,City,State,Region
0,Mauve Pleated Stripe Skirt XS,55.00,Brooklyn,New York,Eastern US
1,Vintage 90s Chic jeans,38.00,Brooklyn,New York,Eastern US
2,Vintage Giorgio Armani Blush Pink Womens Blazer,79.99,Brooklyn,New York,Eastern US
3,vintage 80s oversize white cotton chore jacke...,45.00,Brooklyn,New York,Eastern US
4,Ivy Green Leather Skirt M,85.00,Brooklyn,New York,Eastern US

In [21]:
dfs = [oakland_listings, sanfrancisco_listings, santacruz_listings, sacramento_listings, LA_listings, SD_listings, SB_listings, palmsprings_listings]
combined = pd.concat(dfs)
combined.reset_index(inplace=True)

In [22]:
len(combined)

10355

In [25]:
combined.to_csv(r'C:\Users\Starshine1000\desktop\Etsy\CA_listings_22520_notfull.csv')

In [33]:
dfs = [oakland_listings, sanfrancisco_listings, brooklyn_listings]
largecombined = pd.concat(dfs)
largecombined.reset_index(inplace=True)

In [34]:
largecombined

,index,Description,Price,City,State,Region
0,0,Mickey Mouse Disney 1990's Vintage Tshirt,25.00,Oakland,California,Northern California
1,1,Vintage Esprit Pastel Long Sleeve Button Up Pa...,78.95,Oakland,California,Northern California
2,2,1910s Art Nouveau Dress | Vintage Teens Edward...,185.00,Oakland,California,Northern California
3,3,Vintage 1990s Olive Green Velveteen Quilted Bo...,22.50,Oakland,California,Northern California
4,4,vintage | grandma | sweater | 70s | mustard ye...,40.00,Oakland,California,Northern California
5,5,Vintage 1950s Ivory Lace Embroidered Floral Bl...,20.00,Oakland,California,Northern California
6,6,Vintage tunic womens dress,15.00,Oakland,California,Northern California
7,7,Vintage '60s Vibrant ROSA RAY Chicago Mid Cent...,46.00,Oakland,California,Northern California
8,8,vintage 1990s floral skirt / pastel button-up ...,34.00,Oakland,California,Northern California
9,9,Candi Jones California Womens Boho Coachell...,100.00,Oakland,California,Northern California
10,10,vintage 70's dress,20.00,Oakland,California,Northern California
11,11,1990's Woman's Vintage 100% Leather Forest Mos...,89.00,Oakland,California,Northern California
12,12,Vintage 90s Swatch Sweatshirt With Pockets Rhi...,55.00,Oakland,California,Northern California
13,13,Vintage Deadstock Wrangler Staright Leg Jeans ...,29.99,Oakland,California,Northern California
14,14,Cats Butts Front and Back 1990s vintage Tshirt,35.00,Oakland,California,Northern California
15,15,1800s Womens Victorian Vest | Vintage 1900s Iv...,40.00,Oakland,California,Northern California
16,16,1940s Delicious Darla Color Block Frock | Vint...,265.00,Oakland,California,Northern California
17,17,90s vintage black Celtic t shirt / Druid Celti...,39.00,Oakland,California,Northern California
18,18,1950s Mid Century Mod Rockabilly Vintage ARGYL...,47.60,Oakland,California,Northern California
19,19,"Vintage 1940s Black as Night Wool Dress, sz L/XL",65.00,Oakland,California,Northern California
20,20,Vintage todd 1 windbreaker size xl bboy breakd...,59.95,Oakland,California,Northern California
21,21,Boho Vintage 1950s 1960s Mid-Century Teal &amp...,40.00,Oakland,California,Northern California
22,22,"Vintage 8 strap Black Satin Garter Belt, Suspe...",46.00,Oakland,California,Northern California
23,23,Gorgeous Vintage '70s STUDIO WEAVERS Green Ton...,42.00,Oakland,California,Northern California
24,24,"vintage cropped cream colored jacket, 80s cott...",35.00,Oakland,California,Northern California
25,25,Vintage - 1980's - Green &amp; Pink Flamenco S...,100.00,Oakland,California,Northern California
26,26,Vintage '70s PEAR BLOSSOM Acrylic Knit Striped...,32.00,Oakland,California,Northern California
27,27,Vintage Cream Fuzzy Turtleneck Sweater by Joli...,18.75,Oakland,California,Northern California
28,28,Vintage 80s Pink Sweetheart Nylon Track Jacket,30.00,Oakland,California,Northern California
29,29,Vintage '70s TOPPETTES DISCO Dance Queen Metal...,38.00,Oakland,California,Northern California
...,...,...,...,...,...,...
18811,6770,Vintage Vanity Fair Nylon Slip Lingerie,25.00,Brooklyn,New York,Eastern US
18812,6771,Vintage 1980s does 1950s Polka Dot Wrap Jacket...,11.00,Brooklyn,New York,Eastern US
18813,6772,"Vintage 80s PIN UP Bathing Suit / Floral, Polk...",20.00,Brooklyn,New York,Eastern US
18814,6773,Vintage 80s Jacket/ 80s Burgundy Velvet Full L...,85.00,Brooklyn,New York,Eastern US
18815,6774,Flower Power Sequin Vintage Jumpsuit,250.00,Brooklyn,New York,Eastern US
18816,6775,"Vintage VUARNET black Tank Top, Mens Large, ma...",125.00,Brooklyn,New York,Eastern US
18817,6776,"1950s Original Green Cotton Dress, Fits Size 1...",55.00,Brooklyn,New York,Eastern US
18818,6777,Vintage 1950s MIKE BENET Pink Cupcake Gown/ Pa...,230.00,Brooklyn,New York,Eastern US
18819,6778,Vintage 80's Louisiana Catfish T-shirt,24.99,Brooklyn,New York,Eastern US
18820,6779,Very Rare! New Old Stock Vintage Handmade Leat...,169.00,Brooklyn,New York,Eastern US
18821,6780,"Eavis &amp; Brown Beaded Top, Silk, Vintage 1980s",316.00,Brooklyn,New York,Eastern US
18822,6781,Vintage 1970s Handmade Skirt - Groovy Pop Art ...,7.00,Brooklyn,New York,Eastern US
18823,6782,Vintage 80s Pink Evening Gown/Origami Ruffled ...,275.00,Brooklyn,New York,Eastern US
18824,6783,Vintage 80's WAMZ Country Music Radio T-shirt,24.99,Brooklyn,New York,Eastern US
18825,6784,SALE Vintage 60s Lime Green Slip Skirt / Mod L...,25.00,Brooklyn,New York,Eastern US
18826,6785,Vintage Studded 1980's Black Levi's Denim Truc...,175.00,Brooklyn,New York,Eastern US
18827,6786,Vintage 80s Joni Blair of California Floral Ha...,48.00,Brooklyn,New York,Eastern US
18828,6787,Vintage 1940s Black Beaded Crepe Dress SZ 12,85.00,Brooklyn,New York,Eastern US
18829,6788,Vintage 90s Dress/ 90s Navy Light Gray Floral ...,25.00,Brooklyn,New York,Eastern US
18830,6789,Vintage 1940s/50s Blue Wool And Felt Mexican S...,77.00,Brooklyn,New York,Eastern US
18831,6790,Vintage 2 Piece MOD 70s Neon Lime Green Blous...,58.99,Brooklyn,New York,Eastern US
18832,6791,SALE Vintage 70s Baby Pink PLAID BLAZER / Ligh...,32.00,Brooklyn,New York,Eastern US
18833,6792,Vintage 70s Dusty Rose CROCHET Sweater / Muted...,28.00,Brooklyn,New York,Eastern US
18834,6793,Vintage 1960s Mod Psychedelic COLOR BLOCK Oran...,64.99,Brooklyn,New York,Eastern US
18835,6794,MY ENDLESS LOVE vintage 80s chiffon semi sheer...,10.00,Brooklyn,New York,Eastern US
18836,6795,Vintage Beige Brown Mink Fur Coat Ribbed Patte...,199.00,Brooklyn,New York,Eastern US
18837,6796,Vintage 80s Red Midi Shift Gold Buttons Leslie...,38.99,Brooklyn,New York,Eastern US
18838,6797,vintage 80's red and rainbow boho gauzy blouse...,25.00,Brooklyn,New York,Eastern US
18839,6798,"1960s red corduroy vintage dress, Sz. M",65.00,Brooklyn,New York,Eastern US
18840,6799,SUMMER GARDEN DARLING 1990s black floral print...,15.00,Brooklyn,New York,Eastern US

In [36]:
largecombined.to_csv(r'C:\Users\Starshine1000\desktop\Etsy\fulloaksfhalfbrook_listings_22520.csv')