In [2]:
import requests
from bs4 import BeautifulSoup
import bleach
import pprint
import pandas as pd

## Maine

In [2]:
#Maine: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4971068&explicit=1&ref=pagination&page=2
        
listing_info = []
for i in range(1,84):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4971068&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Maine", "Maine","Northeast"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
maine_listings = listing_data
maine_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3939

,Description,Price,City,State,Region
0,Vintage Women's short sleeve dress with stagec...,24.00,Maine,Maine,Northeast
1,L.L. Bean Vintage Women's Fleece Pullover Jack...,34.95,Maine,Maine,Northeast
2,Vintage L.L. Bean Women’s Petite Small Red Bar...,40.00,Maine,Maine,Northeast
3,USA Vintage 80s 90s Petite 100% Pure Wool Coat...,112.00,Maine,Maine,Northeast
4,80s Floral Sweatshirt With Collar Vintage Coll...,25.20,Maine,Maine,Northeast

## West Virginia

In [6]:
#West Virginia: etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4826850&explicit=1&ref=pagination&page=2

        
listing_info = []
for i in range(1,26):      # Number of pages plus one 
    url = "https://etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4826850&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"West Virginia", "West Virginia","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
wv_listings = listing_data
wv_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1165

,Description,Price,City,State,Region
0,Vintage 1980s 1990s neon Technicolor colorbloc...,23.60,West Virginia,West Virginia,South
1,Vintage 1980s 1990s Pastel Colorful Pink Blue ...,19.60,West Virginia,West Virginia,South
2,Vintage Winnie the Pooh Embroidered Chambray L...,19.60,West Virginia,West Virginia,South
3,Carolyn Schnurer Leaf Print Dress 50s Dress,200.00,West Virginia,West Virginia,South
4,Gorgeous Vintage Midwest Horse Scene Allover P...,23.60,West Virginia,West Virginia,South

## Michigan (detroit)

In [8]:
#Detroit: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4990729&explicit=1&ref=pagination&page=5

        
listing_info = []
for i in range(1,131):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4990729&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Detroit", "Michigan","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
detroit_listings = listing_data
detroit_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6198

,Description,Price,City,State,Region
0,Vintage 90s Y2k 2000s Minimal Black Studded Ha...,34.00,Detroit,Michigan,Midwest
1,Vintage 80s 90s Rainbow Abstract Pattern High ...,28.00,Detroit,Michigan,Midwest
2,Vintage 90s 80s Acid Wash Denim High Waisted M...,17.00,Detroit,Michigan,Midwest
3,Vintage Silk Tan Cardigan,38.00,Detroit,Michigan,Midwest
4,"Vintage cape, hooded cape, military cape, navy...",99.00,Detroit,Michigan,Midwest

## Wyoming

In [9]:
#Wyoming: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5843591&explicit=1&ref=pagination&page=2

        
listing_info = []
for i in range(1,20):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5843591&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Wyoming", "Wyoming","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
wyoming_listings = listing_data
wyoming_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
880

,Description,Price,City,State,Region
0,"Western Vintage pants, 1990's Roper striped, h...",25.00,Wyoming,Wyoming,Great Plains
1,Vintage Denim Jeans | 1990's high rise mom jea...,34.00,Wyoming,Wyoming,Great Plains
2,"Vintage women's pants, High rise pants, 1980's...",28.00,Wyoming,Wyoming,Great Plains
3,Vintage Southwestern Print Blanket Jacket,49.00,Wyoming,Wyoming,Great Plains
4,Vintage Scully Western Shirt with Shotgun Cuffs,89.00,Wyoming,Wyoming,Great Plains

## Austin

In [10]:
#Austin: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4671654&explicit=1&ref=pagination&page=3

        
listing_info = []
for i in range(1,161):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4671654&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Austin", "Texas","Texas"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
austin_listings = listing_data
austin_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800
6848
6896
6944
6992
7040
7088
7136
7184
7232
7280
7328
7376
7424
7472
7520
7568
7616
7625

,Description,Price,City,State,Region
0,Catherine Ogust/Penthouse Gallery Vintage 60s/...,26.00,Austin,Texas,Texas
1,Adorable School Girl Pleated Brown Mini-Skirt ...,42.00,Austin,Texas,Texas
2,"90s WHITE BLOUSE, 90s Clothing, Vintage White ...",30.00,Austin,Texas,Texas
3,"Y2K 90'S PURPLE HIGHWAIST PANTS (S), Vintage 9...",20.00,Austin,Texas,Texas
4,60's Pants 90's-Does-60's Hippie Style Flared ...,36.00,Austin,Texas,Texas

## Tucson

In [11]:
#Tucson: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5318313&explicit=1&ref=pagination&page=2

        
listing_info = []
for i in range(1,79):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5318313&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Tucson", "Arizona","Southwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
tucson_listings = listing_data
tucson_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3705

,Description,Price,City,State,Region
0,Vintage Ivory Slip Tank,26.00,Tucson,Arizona,Southwest
1,Vintage light high rise Wrangler jeans 29 x 32,68.00,Tucson,Arizona,Southwest
2,Vtg 90s Wrangler for Women Western Retro High ...,45.00,Tucson,Arizona,Southwest
3,Vtg 90s Esprit De Corp Retro Spell Out Yellow ...,45.00,Tucson,Arizona,Southwest
4,Vintage SOUTHWESTERN COTTON Maxi Skirt 90s Ret...,39.90,Tucson,Arizona,Southwest

## Montana

In [12]:
#Montana: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5667009&explicit=1&ref=pagination&page=3

        
listing_info = []
for i in range(1,36):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5667009&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Montana", "Montana","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
montana_listings = listing_data
montana_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1636

,Description,Price,City,State,Region
0,Mom Sweater | Hipster Sweater | Aesthetic Swea...,40.00,Montana,Montana,Great Plains
1,Dad Sweater | Hipster Sweater | Aesthetic Swea...,30.00,Montana,Montana,Great Plains
2,"Vintage Blue Half Apron, Chiffon Apron, Blue A...",18.00,Montana,Montana,Great Plains
3,Vintage 1950s Pastel Yellow Dress,68.00,Montana,Montana,Great Plains
4,Vintage Shearling Jacket,110.00,Montana,Montana,Great Plains

## Kansas

In [15]:
#Kansas: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4273857&explicit=1&ref=pagination&page=2

        
listing_info = []
for i in range(1,136):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4273857&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Kansas", "Kansas","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
kansas_listings = listing_data
kansas_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6426

,Description,Price,City,State,Region
0,Vintage Cotton Women's Pantaloons - White with...,15.00,Kansas,Kansas,Great Plains
1,"Vintage 1990s 27"" khaki beige trousers high wa...",48.00,Kansas,Kansas,Great Plains
2,Vintage 1970s Mini dress/toile print/velvet bu...,30.00,Kansas,Kansas,Great Plains
3,Womens Black Vintage Wool Winter Coat 1955-196...,96.00,Kansas,Kansas,Great Plains
4,So Pretty Vintage LAURA ASHLEY Midnight Blue N...,60.00,Kansas,Kansas,Great Plains

## Portland (Oregon)

In [16]:
#Portland: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5746545&explicit=1&ref=pagination&page=3

listing_info = []
for i in range(1,150):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5746545&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Portland", "Oregon","Northwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
portland_listings = listing_data
portland_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800
6848
6896
6944
6992
7040
7088
7136

,Description,Price,City,State,Region
0,Vintage Shirt | Cowgirl Shirt | 90s Clothing |...,18.00,Portland,Oregon,Northwest
1,Vintage Denim Skirt | Vintage Clothing | Y2K B...,15.00,Portland,Oregon,Northwest
2,Vintage 1980s City Streets Green Trousers Wome...,39.95,Portland,Oregon,Northwest
3,Vintage Womens Alfred Shaheen 1960s Floral Dre...,65.00,Portland,Oregon,Northwest
4,HIGH WAIST TROUSERS (26) vintage 80s navy blue...,34.99,Portland,Oregon,Northwest

## Vermont

In [17]:
#Vermont: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5242283&explicit=1&ref=pagination&page=2

listing_info = []
for i in range(1,72):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5242283&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Vermont", "Vermont","Northeast"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
vermont_listings = listing_data
vermont_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3361

,Description,Price,City,State,Region
0,"1970s vintage denim, disco, highwaisted, rain...",80.00,Vermont,Vermont,Northeast
1,Vintage Black and White Plaid Trouser,15.00,Vermont,Vermont,Northeast
2,Vintage Beaded Sweater,30.00,Vermont,Vermont,Northeast
3,Small Vintage Pants or Capris French Workwear ...,58.00,Vermont,Vermont,Northeast
4,Vintage Harris Tweed Lady's overcoat,24.40,Vermont,Vermont,Northeast

## Arkansas

In [18]:
#Arkansas: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4099753&explicit=1&ref=pagination&page=4

listing_info = []
for i in range(1,50):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4099753&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Arkansas", "Arkansas","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
arkansas_listings = listing_data
arkansas_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2296

,Description,Price,City,State,Region
0,Vintage 80s Ozark Mountain High Waisted Lightw...,24.00,Arkansas,Arkansas,South
1,Vintage 1990s Old Navy cut off overall shorts ...,29.50,Arkansas,Arkansas,South
2,vintage 90's dress | vintage floral print dres...,44.00,Arkansas,Arkansas,South
3,Vintage Colorblock Jacket Black Purple Pink St...,18.90,Arkansas,Arkansas,South
4,Vintage 80s Cabrais Retro Tan Brown White Stri...,18.00,Arkansas,Arkansas,South

In [19]:
dfs = [maine_listings, wv_listings, detroit_listings, wyoming_listings, austin_listings, tucson_listings, montana_listings, kansas_listings, portland_listings, vermont_listings, arkansas_listings]
combined = pd.concat(dfs)

In [20]:
combined.reset_index(inplace=True)

In [21]:
combined

,index,Description,Price,City,State,Region
0,0,Vintage Women's short sleeve dress with stagec...,24.00,Maine,Maine,Northeast
1,1,L.L. Bean Vintage Women's Fleece Pullover Jack...,34.95,Maine,Maine,Northeast
2,2,Vintage L.L. Bean Women’s Petite Small Red Bar...,40.00,Maine,Maine,Northeast
3,3,USA Vintage 80s 90s Petite 100% Pure Wool Coat...,112.00,Maine,Maine,Northeast
4,4,80s Floral Sweatshirt With Collar Vintage Coll...,25.20,Maine,Maine,Northeast
5,5,Vintage Insulated Dickies Painters Jacket 24320,55.00,Maine,Maine,Northeast
6,6,Vintage Woolrich Made in USA Wool Plaid Lined ...,40.00,Maine,Maine,Northeast
7,7,Vintage 60’s 70’s Deadstock Billy the Kid High...,50.00,Maine,Maine,Northeast
8,8,70s Hippie Cardigan Sweater * Open Front * Acr...,32.00,Maine,Maine,Northeast
9,9,1960's London Fog Maincoats Trench Coat/Rain C...,34.00,Maine,Maine,Northeast
10,10,Johnson Woolen Mills Vermont Women’s Spruce Gr...,65.00,Maine,Maine,Northeast
11,11,Vintage 1980's / 80's Austin Reed 100% Wool Hi...,34.00,Maine,Maine,Northeast
12,12,1970's Striped Velour Surplice Neckline Sweate...,42.00,Maine,Maine,Northeast
13,13,Pendleton Vintage Women's Double Breasted Blaz...,49.95,Maine,Maine,Northeast
14,14,1960s Floral Blouse Vintage Tie Belt Blouse Re...,25.20,Maine,Maine,Northeast
15,15,Vintage 1970s Jessica’s Gunnies Prairie Skirt ...,48.00,Maine,Maine,Northeast
16,16,VTG LL Bean Duffle Coat Toggle Jacket Womens 1...,57.02,Maine,Maine,Northeast
17,17,Vintage Slip Dress,145.00,Maine,Maine,Northeast
18,18,Ms Lee Vintage Trucker Style Denim Jean Jacket...,34.95,Maine,Maine,Northeast
19,19,1950s Vintage Coral Pink Wool Beaded Cardigan ...,80.00,Maine,Maine,Northeast
20,20,Vintage Hawaiian Original Barkcloth Hawaiian S...,16.00,Maine,Maine,Northeast
21,21,Vintage Womens London Fog Maincoats Raincoat B...,45.00,Maine,Maine,Northeast
22,22,Vintage 1970's Peggy Jennings Pale Pink Silk 3...,148.00,Maine,Maine,Northeast
23,23,1980's LL Bean Rag Wool and Maroon Birds Eye P...,48.00,Maine,Maine,Northeast
24,24,Vintage Mohair Wool Blend Sweater Extra Soft F...,25.20,Maine,Maine,Northeast
25,25,80s Turtleneck Sweatshirt Pastel Pink Grey Str...,25.20,Maine,Maine,Northeast
26,26,80s 90s vintage • 100% cotton • neon peach ora...,28.00,Maine,Maine,Northeast
27,27,Vintage Light Gray Net Dress - Very Romantic -...,18.00,Maine,Maine,Northeast
28,28,1980's Irish Fisherman Style Wool Cardigan Swe...,45.00,Maine,Maine,Northeast
29,29,Vintage woolen poncho,50.00,Maine,Maine,Northeast
...,...,...,...,...,...,...
44337,2266,Circa 1970's Plaid Jacket - Black and White Wo...,25.00,Arkansas,Arkansas,South
44338,2267,Gunne Sax 70s Prairie Maxi Dress,185.00,Arkansas,Arkansas,South
44339,2268,Evan Picone ruffled collar blouse,20.00,Arkansas,Arkansas,South
44340,2269,Sz 22 1X 2X Simple Pencil Skirt - Blue - Below...,27.00,Arkansas,Arkansas,South
44341,2270,"Sz 6 26"" Waist DAVID BENJAMIN LTD Suit - Beaut...",62.00,Arkansas,Arkansas,South
44342,2271,Retro Guess Denim Jacket,24.00,Arkansas,Arkansas,South
44343,2272,Calvin Klein Corduroy Pants SIze 4,25.00,Arkansas,Arkansas,South
44344,2273,80s/90s Floral Embroidery Sweater,35.00,Arkansas,Arkansas,South
44345,2274,Late 70s/Early 80s Crisp White Tank with Embro...,25.00,Arkansas,Arkansas,South
44346,2275,Pendleton Purple Plaid Wool Suit,20.00,Arkansas,Arkansas,South
44347,2276,Lucretia for Fosha Vtg NWT Aqua Dot Ruffle Dre...,50.00,Arkansas,Arkansas,South
44348,2277,60s/70s Lightweight Prairie Gown.,68.00,Arkansas,Arkansas,South
44349,2278,Marc D'Alcy Teal Wool Blend Sweater Coat Duste...,185.00,Arkansas,Arkansas,South
44350,2279,80s Vinyl Kenn Sporn for Wippette Rain Jacket ...,85.00,Arkansas,Arkansas,South
44351,2280,Western Denim Vtg 90s Studded Embellished Embr...,25.00,Arkansas,Arkansas,South
44352,2281,Purple Chunky Knit Floral Top New with Tags Vt...,30.00,Arkansas,Arkansas,South
44353,2282,Boho Batik Beach Babe Tie Front Vtg Tropical L...,28.00,Arkansas,Arkansas,South
44354,2283,70s Pink Jumpsuit with Belt and Beautiful Butt...,55.00,Arkansas,Arkansas,South
44355,2284,Hawaiian shirt,9.99,Arkansas,Arkansas,South
44356,2285,Fabulous 70s Gown with Gold Trimmed Jacket.,55.00,Arkansas,Arkansas,South
44357,2286,"Late 60s/Early 70s Bleeker Street, Jonathan Lo...",45.00,Arkansas,Arkansas,South
44358,2287,Floral crop top,10.00,Arkansas,Arkansas,South
44359,2288,80s White Pintuck Blouse,27.00,Arkansas,Arkansas,South
44360,2289,80s Sheer Black and Metallic Gold Leaf Blouse,21.00,Arkansas,Arkansas,South
44361,2290,90s Floral Round Collar Blouse,17.00,Arkansas,Arkansas,South
44362,2291,Montechiaro Medium Sweater Red Gray Brown Mult...,95.00,Arkansas,Arkansas,South
44363,2292,70s/80s Red and White Stripe Blouse,24.00,Arkansas,Arkansas,South
44364,2293,80's Sweatshirt Hot Pink,15.00,Arkansas,Arkansas,South
44365,2294,Floral skort,35.00,Arkansas,Arkansas,South
44366,2295,Silk Blouse,20.00,Arkansas,Arkansas,South

In [22]:
combined.to_csv(r'C:\Users\Starshine1000\desktop\Etsy\maine_thru_arkansas_030820.csv')

In [6]:
#Miami: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4164138&explicit=1&ref=pagination&page=3

listing_info = []
for i in range(1,68):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4164138&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Miami", "Florida","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
miami_listings = listing_data
miami_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3194

,Description,Price,City,State,Region
0,Vintage Chinese Blouse / Hong Kong Blouse / As...,28.00,Miami,Florida,South
1,Vintage Varsity jacket,65.00,Miami,Florida,South
2,Vintage Short Sleeve Sweater Top / Mustard Kni...,26.00,Miami,Florida,South
3,"vintage pistachio green pant suit, L",142.00,Miami,Florida,South
4,Vintage womens Blazer,11.30,Miami,Florida,South

In [5]:
#Houston: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4699066&explicit=1&ref=pagination&page=2

listing_info = []
for i in range(1,83):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4699066&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Houston", "Texas","Texas"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
houston_listings = listing_data
houston_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3912

,Description,Price,City,State,Region
0,Vintage Crewneck Sweater XL Mt. Bachelor Ski C...,10.00,Houston,Texas,Texas
1,Levi's 521 Vintage Mom Jeans // Women's Size 2...,98.00,Houston,Texas,Texas
2,Vintage Design Satin like Blouse,18.00,Houston,Texas,Texas
3,Vintage 70s red and white striped pants,43.00,Houston,Texas,Texas
4,90s white linen Liz Claiborne pants / high wai...,28.00,Houston,Texas,Texas

In [7]:
#Louisiana: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4331987&explicit=1&ref=pagination&page=4

listing_info = []
for i in range(1,96):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4331987&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Louisiana", "Louisiana","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
louisiana_listings = listing_data
louisiana_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4512

,Description,Price,City,State,Region
0,Small / Medium - Amazing Sweet 1950's Vintage...,48.50,Louisiana,Louisiana,South
1,70's Vintage Western Glam Black Satin Glitter ...,38.00,Louisiana,Louisiana,South
2,Vintage 80s 90s LIZ BAKER Red Polka Dot Shirt ...,11.69,Louisiana,Louisiana,South
3,Vintage 60s 70s Two Piece Nightgown Lingerie S...,23.39,Louisiana,Louisiana,South
4,Vintage 1970s Pink Cotton Maxi Prairie Dress s...,45.00,Louisiana,Louisiana,South

In [8]:
#Connecticut: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4831725&explicit=1&ref=pagination&page=5

listing_info = []
for i in range(1,123):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4831725&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Connecticut", "Connecticut","Northeast"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
connecticut_listings = listing_data
connecticut_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5807

,Description,Price,City,State,Region
0,Vintage Burgundy Corduroy Pants | High Waisted...,62.00,Connecticut,Connecticut,Northeast
1,Vintage Flannel | Unisex | Fall and Winter Fla...,23.00,Connecticut,Connecticut,Northeast
2,Women's Vintage Paisley Pants High Waisted Sid...,28.00,Connecticut,Connecticut,Northeast
3,Vintage Mixed Print Open Front Blazer 80s Boho...,40.00,Connecticut,Connecticut,Northeast
4,1950's Yellow A-line Pleated Dress with Satin ...,44.00,Connecticut,Connecticut,Northeast

In [9]:
#San Diego: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5391811&explicit=1&ref=pagination&page=7

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5391811&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"San Diego", "California","Southern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
sandiego_listings = listing_data
sandiego_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800
6848
6896
6944
6992
7040
7043

,Description,Price,City,State,Region
0,90s Vintage CALICO CORSET DIRNDL Dress by Blut...,45.00,San Diego,California,Southern California
1,Vintage Boho style embroidered Dress,25.00,San Diego,California,Southern California
2,Vintage Jordache Jeans,60.00,San Diego,California,Southern California
3,80s Vintage COTTON BLUE &amp; WHITE Striped Su...,40.00,San Diego,California,Southern California
4,Vintage 1960's Fuchsia Velveteen Capris,42.98,San Diego,California,Southern California

In [10]:
#Seattle: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5809844&explicit=1&ref=pagination&page=6

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5809844&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Seattle", "Washington","Northwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
seattle_listings = listing_data
seattle_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800
6848
6896
6944
6992
7040
7088

,Description,Price,City,State,Region
0,Vintage Women's 1950/60s Yellow Paquette Cigar...,45.00,Seattle,Washington,Northwest
1,Vintage Women's 1950s Mustard Yellow Rockabill...,30.00,Seattle,Washington,Northwest
2,Vintage Levi pants high waisted 24 waist small...,75.00,Seattle,Washington,Northwest
3,Vintage 90s Sheer Daisy Floral Button Up Colla...,21.00,Seattle,Washington,Northwest
4,Vintage Women's 1960s Rainbow Stripe Mod Shift...,65.00,Seattle,Washington,Northwest

In [11]:
#Utah: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5549030&explicit=1&ref=pagination&page=4

listing_info = []
for i in range(1,105):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5549030&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Utah", "Utah","West"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
utah_listings = listing_data
utah_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4950

                                         Description  Price  City State Region
0                                     Vintage Duster  14.00  Utah  Utah   West
1  Vintage Gorillaz Tour Band graphic Tee Shirt  ...  29.99  Utah  Utah   West
2   Authentic Vintage Small Short US Army Camo Pants  38.00  Utah  Utah   West
3              Vintage Chicos Silk Wool Blend Jacket  20.00  Utah  Utah   West
4  Vintage Levis Mom Jeans 30, Vintage Clothing, ...  34.00  Utah  Utah   West

In [12]:
#Minneapolis: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5037649&explicit=1&ref=pagination&page=5

listing_info = []
for i in range(1,86):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5037649&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Minneapolis", "Minnesota","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
minneapolis_listings = listing_data
minneapolis_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4030

,Description,Price,City,State,Region
0,Vintage 80s Floral Button-Up Dress // Colorful...,36.00,Minneapolis,Minnesota,Midwest
1,vintage 1940s Rayon Jersey Floral Top (as is) ...,25.00,Minneapolis,Minnesota,Midwest
2,Vintage Floral Quilted Cotton Jacket Women's S...,30.00,Minneapolis,Minnesota,Midwest
3,Vintage Angora Sweater - Softest + Coziest Rel...,84.00,Minneapolis,Minnesota,Midwest
4,1950's True Vintage White Chiffon Full Skirt D...,245.00,Minneapolis,Minnesota,Midwest

In [18]:
#Indiana: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4921868&explicit=1&ref=pagination&page=4

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4921868&explicit=1&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Indiana", "Indiana","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
indiana_listings = listing_data
indiana_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
800
848
896
944
992
1040
1088
1136
1184
1232
1280
1328
1376
1424
1472
1520
1568
1616
1664
1712
1760
1808
1856
1904
1952
2000
2048
2096
2144
2192
2240
2288
2336
2384
2432
2480
2528
2576
2624
2672
2720
2768
2816
2864
2912
2960
3008
3056
3104
3152
3200
3248
3296
3344
3392
3440
3488
3536
3584
3632
3680
3728
3776
3824
3872
3920
3968
4016
4064
4112
4160
4208
4256
4304
4352
4400
4448
4496
4544
4592
4640
4688
4736
4784
4832
4880
4928
4976
5024
5072
5120
5168
5216
5264
5312
5360
5408
5456
5504
5552
5600
5648
5696
5744
5792
5840
5888
5936
5984
6032
6080
6128
6176
6224
6272
6320
6368
6416
6464
6512
6560
6608
6656
6704
6752
6800
6848
6896
6944
6992
7040
7088

,Description,Price,City,State,Region
0,Vintage Tshirt / Tee / T-shirt | You Choose A ...,8.00,Indiana,Indiana,Midwest
1,Women's London Fog Trench Coat. Black London ...,40.00,Indiana,Indiana,Midwest
2,"LEVI VINTAGE JEANS highwaisted, mid rise, low ...",54.95,Indiana,Indiana,Midwest
3,Vintage 60s Floral Poly Dress,10.00,Indiana,Indiana,Midwest
4,Vintage Black Harley Davidson High Waisted Wom...,15.00,Indiana,Indiana,Midwest

In [14]:
#Maryland: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4361885&explicit=1&ref=pagination&page=6

listing_info = []
for i in range(1,109):      # Number of pages plus one 
    url = "https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=4361885&explicit=1&ref=pagination&page=()".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_= 'organic-impression display-inline-block listing-link ')
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"Maryland", "Maryland","Mid Atlantic"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
maryland_listings = listing_data
maryland_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184

,Description,Price,City,State,Region
0,"Vintage 1960s Dress, Vintage Sleeveless Summer...",14.19,Maryland,Maryland,Mid Atlantic
1,10s 20s Edwardian Cotton and Lace Romantic Dre...,100.30,Maryland,Maryland,Mid Atlantic
2,Vintage Filipiniana Cream Bridal Wedding Embro...,139.50,Maryland,Maryland,Mid Atlantic
3,Vintage 80s Jordache Stovepipe Jeans • 27” Waist,78.00,Maryland,Maryland,Mid Atlantic
4,Vintage Blue Smocked Peasant Dress/ 1970s Butt...,35.00,Maryland,Maryland,Mid Atlantic

In [25]:
#New Mexico: https://www.etsy.com/search/vintage/clothing/womens-clothing?q=womens+vintage+clothing&locationQuery=5481136&explicit=1&ref=pagination&page=7
listing_info = []
for i in range(1,92):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5150529&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    #print(results)
    job_elems = results.find_all(class_="wt-list-unstyled wt-grid__item-xs-6 wt-grid__item-lg-4 wt-grid__item-xl-3 wt-order-xs-1 wt-order-sm-1 wt-order-md-1 wt-order-lg-1 wt-order-xl-1 wt-order-tv-1")
    print(job_elems)
    links_stage = []
   # link_elem = []
    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
       # links_stage.append(job_elem)
       # for x in links_stage:
          #  link_elem = (x.get('href'))
        listing_info.append((title_elem,price_elem,"New Mexico", "New Mexico","Southwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
newmexico_listings = listing_data
newmexico_listings.head()

[<li class="wt-list-unstyled wt-grid__item-xs-6 wt-grid__item-lg-4 wt-grid__item-xl-3 wt-order-xs-1 wt-order-sm-1 wt-order-md-1 wt-order-lg-1 wt-order-xl-1 wt-order-tv-1">
<div class="js-merch-stash-check-listing v2-listing-card position-relative flex-xs-none " data-behat-listing-card="" data-listing-card-v2="" data-listing-id="268694530" data-palette-listing-id="268694530" data-shop-id="">
<a class=" display-inline-block listing-link " data-listing-id="268694530" data-palette-listing-image="" href="https://www.etsy.com/listing/268694530/vintage-tshirt-70s-80s-you-pick-soft?ga_order=most_relevant&amp;ga_search_type=vintage&amp;ga_view_type=gallery&amp;ga_search_query=&amp;ref=sr_gallery-1-1" target="_blank" title="Vintage tshirt 70s 80s you pick soft thin tee t shirt top">
<div class="v2-listing-card__img position-relative">
<div data-listing-card-image="">
<div class="placeholder placeholder-landscape">
<div class="placeholder-content ">
<div class="placeholder vertically-centered-placeholder placeholder-landscape">
<div class="height-placeholder">
<img alt="" class="width-full wt-height-full display-block position-absolute " data-listing-card-listing-image="" src="https://i.etsystatic.com/7939995/d/il/9dc9da/923950557/il_340x270.923950557_fckj.jpg?version=0">
</img></div>
</div>
</div>
</div>
<div class="position-absolute position-bottom position-right position-left">
</div>
</div>
</div>
<div class="v2-listing-card__info ">
<div>
<h2 class="text-gray text-truncate mb-xs-0 text-body">
                        Vintage tshirt 70s 80s you pick soft thin tee t shirt top
                    </h2>
<p>
<div class="v2-listing-card__shop">
<p class="text-gray-lighter text-body-smaller display-inline-block">216vintageModern</p>
<span class="v2-listing-card__rating icon-t-2 display-block">
<span class="stars-svg stars-smaller ">
<input name="initial-rating" type="hidden" value="4.8705">
<input name="rating" type="hidden" value="4.8705">
<span class="screen-reader-only">5 out of 5 stars</span>
<span aria-hidden="true" class="rating lit rating-first icon-b-2" data-rating="1">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="2">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="3">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="4">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="5">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
</span>
</span>
</span>
</span>
</span>
</input></input></span>
<span class="text-body-smaller text-gray-lighter display-inline-block icon-b-1">(1,323)</span>
</span>
</div>
<span class="n-listing-card__price text-gray mt-xs-0 strong display-block text-body-larger ">
<span class="currency-symbol">$</span><span class="currency-value">12.00</span>
</span>
</p>
</div>
</div>
</a>
<div class="v2-listing-card__actions z-index-1 position-absolute">
<button aria-pressed="false" class="v2-listing-card__favorite favorite-container inline-overlay-trigger favorite-item-action constantly-visible-favorited-heart" data-accessible-btn-fave="" data-btn-fave="" data-listing-id="268694530" data-source="casanova-search" type="button">
<span class="etsy-icon not-favorited position-absolute text-white" data-btn-fave-icon=""><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z"></path></svg></span>
<span class="etsy-icon favorited position-absolute"><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.5,3A6.953,6.953,0,0,0,12,5.051,6.912,6.912,0,0,0,7.5,3C4.364,3,2,5.579,2,9c0,5.688,8.349,12,10,12S22,14.688,22,9C22,5.579,19.636,3,16.5,3Z"></path></svg></span>
<!--icon font and display:none; elements -->
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
        Favorite
    </span>
<span class="ie-fix"> </span>
</button>
<div class="collect-container display-none" data-listing-id="268694530">
<button aria-pressed="false" class="btn-collect btn-dropdown inline-overlay-trigger collection-add-action " data-source="casanova-search" type="button">
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
            Add to
        </span>
<span class="icon-dropdown"></span>
<span class="ie-fix"> </span>
</button>
</div>
</div>
</div>
</li>, <li class="wt-list-unstyled wt-grid__item-xs-6 wt-grid__item-lg-4 wt-grid__item-xl-3 wt-order-xs-1 wt-order-sm-1 wt-order-md-1 wt-order-lg-1 wt-order-xl-1 wt-order-tv-1">
<div class="js-merch-stash-check-listing v2-listing-card position-relative flex-xs-none " data-behat-listing-card="" data-listing-card-v2="" data-listing-id="387613312" data-palette-listing-id="387613312" data-shop-id="">
<a class=" display-inline-block listing-link " data-listing-id="387613312" data-palette-listing-image="" href="https://www.etsy.com/listing/387613312/1940s-skirt-vintage-navy-blue-rayon?ga_order=most_relevant&amp;ga_search_type=vintage&amp;ga_view_type=gallery&amp;ga_search_query=&amp;ref=sr_gallery-1-2&amp;pro=1" target="_blank" title="1940's Skirt Vintage Navy Blue Rayon Satin Pencil Skirt 40's Boho Secretary Sraight Skirt Made By Dressmaker Size Small">
<div class="v2-listing-card__img position-relative">
<div data-listing-card-image="">
<div class="placeholder placeholder-landscape">
<div class="placeholder-content ">
<div class="placeholder vertically-centered-placeholder placeholder-landscape">
<div class="height-placeholder">
<img alt="" class="width-full wt-height-full display-block position-absolute " data-listing-card-listing-image="" src="https://i.etsystatic.com/6899569/d/il/7b70d9/2162432646/il_340x270.2162432646_qdlk.jpg?version=0">
</img></div>
</div>
</div>
</div>
<div class="position-absolute position-bottom position-right position-left">
</div>
</div>
</div>
<div class="v2-listing-card__info ">
<div>
<h2 class="text-gray text-truncate mb-xs-0 text-body">
                        1940's Skirt Vintage Navy Blue Rayon Satin Pencil Skirt 40's Boho Secretary Sraight Skirt Made By Dressmaker Size Small
                    </h2>
<p>
<div class="v2-listing-card__shop">
<p class="text-gray-lighter text-body-smaller display-inline-block">ZoomVintage</p>
<span class="v2-listing-card__rating icon-t-2 display-block">
<span class="stars-svg stars-smaller ">
<input name="initial-rating" type="hidden" value="4.9234">
<input name="rating" type="hidden" value="4.9234">
<span class="screen-reader-only">5 out of 5 stars</span>
<span aria-hidden="true" class="rating lit rating-first icon-b-2" data-rating="1">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="2">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="3">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="4">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="5">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
</span>
</span>
</span>
</span>
</span>
</input></input></span>
<span class="text-body-smaller text-gray-lighter display-inline-block icon-b-1">(1,748)</span>
</span>
</div>
<span class="n-listing-card__price text-gray mt-xs-0 strong display-block text-body-larger ">
<span aria-label="Sale Price $20.40">
<span class="currency-symbol">$</span><span class="currency-value">20.40</span>
</span>
<span class="text-body-smaller promotion-price normal no-wrap ">
<span aria-hidden="true" class="strike-through"><span class="currency-symbol">$</span><span class="currency-value">24.00</span></span>
<span aria-label="Original Price $24.00" class="screen-reader-only">
<span class="currency-symbol">$</span><span class="currency-value">24.00</span>
</span>

                                (15% off)

                        </span>
</span>
</p>
</div>
</div>
</a>
<div class="v2-listing-card__actions z-index-1 position-absolute">
<button aria-pressed="false" class="v2-listing-card__favorite favorite-container inline-overlay-trigger favorite-item-action constantly-visible-favorited-heart" data-accessible-btn-fave="" data-btn-fave="" data-listing-id="387613312" data-source="casanova-search" type="button">
<span class="etsy-icon not-favorited position-absolute text-white" data-btn-fave-icon=""><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z"></path></svg></span>
<span class="etsy-icon favorited position-absolute"><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.5,3A6.953,6.953,0,0,0,12,5.051,6.912,6.912,0,0,0,7.5,3C4.364,3,2,5.579,2,9c0,5.688,8.349,12,10,12S22,14.688,22,9C22,5.579,19.636,3,16.5,3Z"></path></svg></span>
<!--icon font and display:none; elements -->
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
        Favorite
    </span>
<span class="ie-fix"> </span>
</button>
<div class="collect-container display-none" data-listing-id="387613312">
<button aria-pressed="false" class="btn-collect btn-dropdown inline-overlay-trigger collection-add-action " data-source="casanova-search" type="button">
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
            Add to
        </span>
<span class="icon-dropdown"></span>
<span class="ie-fix"> </span>
</button>
</div>
</div>
</div>
</li>]
2

[<li class="wt-list-unstyled wt-grid__item-xs-6 wt-grid__item-lg-4 wt-grid__item-xl-3 wt-order-xs-1 wt-order-sm-1 wt-order-md-1 wt-order-lg-1 wt-order-xl-1 wt-order-tv-1">
<div class="js-merch-stash-check-listing v2-listing-card position-relative flex-xs-none " data-behat-listing-card="" data-listing-card-v2="" data-listing-id="785782491" data-palette-listing-id="785782491" data-shop-id="">
<a class=" display-inline-block listing-link " data-listing-id="785782491" data-palette-listing-image="" href="https://www.etsy.com/listing/785782491/1992-cleveland-indians-t-shirt?ga_order=most_relevant&amp;ga_search_type=vintage&amp;ga_view_type=gallery&amp;ga_search_query=&amp;ref=sr_gallery-2-1" target="_blank" title="1992 Cleveland Indians t-shirt">
<div class="v2-listing-card__img position-relative">
<div data-listing-card-image="">
<div class="placeholder placeholder-landscape">
<div class="placeholder-content ">
<div class="placeholder vertically-centered-placeholder placeholder-landscape">
<div class="height-placeholder">
<img alt="" class="width-full wt-height-full display-block position-absolute " data-listing-card-listing-image="" src="https://i.etsystatic.com/10560374/d/il/6f8f10/2221236948/il_340x270.2221236948_jgt9.jpg?version=0">
</img></div>
</div>
</div>
</div>
<div class="position-absolute position-bottom position-right position-left">
</div>
</div>
</div>
<div class="v2-listing-card__info ">
<div>
<h2 class="text-gray text-truncate mb-xs-0 text-body">
                        1992 Cleveland Indians t-shirt
                    </h2>
<p>
<div class="v2-listing-card__shop">
<p class="text-gray-lighter text-body-smaller display-inline-block">TwoOneThrift</p>
<span class="v2-listing-card__rating icon-t-2 display-block">
<span class="stars-svg stars-smaller ">
<input name="initial-rating" type="hidden" value="5">
<input name="rating" type="hidden" value="5">
<span class="screen-reader-only">5 out of 5 stars</span>
<span aria-hidden="true" class="rating lit rating-first icon-b-2" data-rating="1">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="2">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="3">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="4">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="5">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
</span>
</span>
</span>
</span>
</span>
</input></input></span>
<span class="text-body-smaller text-gray-lighter display-inline-block icon-b-1">(24)</span>
</span>
</div>
<span class="n-listing-card__price text-gray mt-xs-0 strong display-block text-body-larger ">
<span class="currency-symbol">$</span><span class="currency-value">30.00</span>
</span>
</p>
</div>
</div>
</a>
<div class="v2-listing-card__actions z-index-1 position-absolute">
<button aria-pressed="false" class="v2-listing-card__favorite favorite-container inline-overlay-trigger favorite-item-action constantly-visible-favorited-heart" data-accessible-btn-fave="" data-btn-fave="" data-listing-id="785782491" data-source="casanova-search" type="button">
<span class="etsy-icon not-favorited position-absolute text-white" data-btn-fave-icon=""><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z"></path></svg></span>
<span class="etsy-icon favorited position-absolute"><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.5,3A6.953,6.953,0,0,0,12,5.051,6.912,6.912,0,0,0,7.5,3C4.364,3,2,5.579,2,9c0,5.688,8.349,12,10,12S22,14.688,22,9C22,5.579,19.636,3,16.5,3Z"></path></svg></span>
<!--icon font and display:none; elements -->
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
        Favorite
    </span>
<span class="ie-fix"> </span>
</button>
<div class="collect-container display-none" data-listing-id="785782491">
<button aria-pressed="false" class="btn-collect btn-dropdown inline-overlay-trigger collection-add-action " data-source="casanova-search" type="button">
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
            Add to
        </span>
<span class="icon-dropdown"></span>
<span class="ie-fix"> </span>
</button>
</div>
</div>
</div>
</li>, <li class="wt-list-unstyled wt-grid__item-xs-6 wt-grid__item-lg-4 wt-grid__item-xl-3 wt-order-xs-1 wt-order-sm-1 wt-order-md-1 wt-order-lg-1 wt-order-xl-1 wt-order-tv-1">
<div class="js-merch-stash-check-listing v2-listing-card position-relative flex-xs-none " data-behat-listing-card="" data-listing-card-v2="" data-listing-id="771901814" data-palette-listing-id="771901814" data-shop-id="">
<a class=" display-inline-block listing-link " data-listing-id="771901814" data-palette-listing-image="" href="https://www.etsy.com/listing/771901814/vintage-class-medium-wash-lee-jeans-o?ga_order=most_relevant&amp;ga_search_type=vintage&amp;ga_view_type=gallery&amp;ga_search_query=&amp;ref=sr_gallery-2-2&amp;frs=1" target="_blank" title="Vintage Class Medium Wash Lee Jeans | Size 31”">
<div class="v2-listing-card__img position-relative">
<div data-listing-card-image="">
<div class="placeholder placeholder-landscape">
<div class="placeholder-content ">
<div class="placeholder vertically-centered-placeholder placeholder-landscape">
<div class="height-placeholder">
<img alt="" class="width-full wt-height-full display-block position-absolute " data-listing-card-listing-image="" src="https://i.etsystatic.com/21652246/c/2250/1788/0/250/il/2e3a68/2221254592/il_340x270.2221254592_du3u.jpg">
</img></div>
</div>
</div>
</div>
<div class="position-absolute position-bottom position-right position-left">
</div>
</div>
</div>
<div class="v2-listing-card__info ">
<div>
<h2 class="text-gray text-truncate mb-xs-0 text-body">
                        Vintage Class Medium Wash Lee Jeans | Size 31”
                    </h2>
<p>
<div class="v2-listing-card__shop">
<p class="text-gray-lighter text-body-smaller display-inline-block">GraceRoseVintageShop</p>
<span class="v2-listing-card__rating icon-t-2 display-block">
<span class="stars-svg stars-smaller ">
<input name="initial-rating" type="hidden" value="4">
<input name="rating" type="hidden" value="4">
<span class="screen-reader-only">4 out of 5 stars</span>
<span aria-hidden="true" class="rating lit rating-first icon-b-2" data-rating="1">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="2">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="3">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating lit" data-rating="4">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
<span class="rating nolit" data-rating="5">
<span class="etsy-icon stars-svg-star"><svg aria-hidden="true" focusable="false" viewbox="3 3 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M19.985,10.36a0.5,0.5,0,0,0-.477-0.352H14.157L12.488,4.366a0.5,0.5,0,0,0-.962,0l-1.67,5.642H4.5a0.5,0.5,0,0,0-.279.911L8.53,13.991l-1.5,5.328a0.5,0.5,0,0,0,.741.6l4.231-2.935,4.215,2.935a0.5,0.5,0,0,0,.743-0.6l-1.484-5.328,4.306-3.074A0.5,0.5,0,0,0,19.985,10.36Z"></path></svg></span>
</span>
</span>
</span>
</span>
</span>
</input></input></span>
<span class="text-body-smaller text-gray-lighter display-inline-block icon-b-1">(1)</span>
</span>
</div>
<span class="n-listing-card__price text-gray mt-xs-0 strong display-block text-body-larger ">
<span class="currency-symbol">$</span><span class="currency-value">43.50</span>
<span class="text-body-smaller no-wrap">
<span class=" wt-badge wt-badge--small wt-badge--sale-01 ">
    FREE shipping
</span>
</span>
</span>
</p>
</div>
</div>
</a>
<div class="v2-listing-card__actions z-index-1 position-absolute">
<button aria-pressed="false" class="v2-listing-card__favorite favorite-container inline-overlay-trigger favorite-item-action constantly-visible-favorited-heart" data-accessible-btn-fave="" data-btn-fave="" data-listing-id="771901814" data-source="casanova-search" type="button">
<span class="etsy-icon not-favorited position-absolute text-white" data-btn-fave-icon=""><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z"></path></svg></span>
<span class="etsy-icon favorited position-absolute"><svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.5,3A6.953,6.953,0,0,0,12,5.051,6.912,6.912,0,0,0,7.5,3C4.364,3,2,5.579,2,9c0,5.688,8.349,12,10,12S22,14.688,22,9C22,5.579,19.636,3,16.5,3Z"></path></svg></span>
<!--icon font and display:none; elements -->
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
        Favorite
    </span>
<span class="ie-fix"> </span>
</button>
<div class="collect-container display-none" data-listing-id="771901814">
<button aria-pressed="false" class="btn-collect btn-dropdown inline-overlay-trigger collection-add-action " data-source="casanova-search" type="button">
<span aria-hidden="true" class="icon"></span>
<span class="screen-reader-only default">
            Add to
        </span>
<span class="icon-dropdown"></span>
<span class="ie-fix"> </span>
</button>
</div>
</div>
</div>
</li>]
4

KeyboardInterrupt:

In [26]:
listing_info

[('Vintage tshirt 70s 80s you pick soft thin tee t shirt top',
  '12.00',
  'New Mexico',
  'New Mexico',
  'Southwest'),
 ("1940's Skirt Vintage Navy Blue Rayon Satin Pencil Skirt 40's Boho Secretary Sraight Skirt Made By Dressmaker Size Small",
  '20.40',
  'New Mexico',
  'New Mexico',
  'Southwest'),
 ('1992 Cleveland Indians t-shirt',
  '30.00',
  'New Mexico',
  'New Mexico',
  'Southwest'),
 ('Vintage Class Medium Wash Lee Jeans | Size 31”',
  '43.50',
  'New Mexico',
  'New Mexico',
  'Southwest')]

In [19]:
dfs = [miami_listings, houston_listings, louisiana_listings, connecticut_listings, sandiego_listings, seattle_listings, utah_listings, minneapolis_listings, indiana_listings, maryland_listings, newmexico_listings]
combined = pd.concat(dfs)

In [20]:
combined.reset_index(inplace=True)

In [21]:
combined.to_csv(r'C:\Users\Starshine1000\desktop\Etsy\miami_thru_newmexico_031120.csv')

In [22]:
combined.head()

,index,Description,Price,City,State,Region
0,0,Vintage Chinese Blouse / Hong Kong Blouse / As...,28.00,Miami,Florida,South
1,1,Vintage Varsity jacket,65.00,Miami,Florida,South
2,2,Vintage Short Sleeve Sweater Top / Mustard Kni...,26.00,Miami,Florida,South
3,3,"vintage pistachio green pant suit, L",142.00,Miami,Florida,South
4,4,Vintage womens Blazer,11.30,Miami,Florida,South

In [40]:
#Los Angeles: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5368361&ref=pagination&page=3

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5368361&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Los Angeles", "California","Southern California"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
losangeles_listings = listing_data
losangeles_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,90s Deadstock Baggy Overall Pants - Black!,48.50,Los Angeles,California,Southern California
1,Camel Joe Jacket Tyvek Jacket Vintage CAMEL CI...,68.00,Los Angeles,California,Southern California
2,Paco Rabanne rhodoid disk dress,"3,400.00",Los Angeles,California,Southern California
3,"Lace Up Acid Wash T-shirt, Lace Up Metallica A...",45.99,Los Angeles,California,Southern California
4,Vintage Streaked Dark Faux Fur Jacket Coat wit...,186.00,Los Angeles,California,Southern California

In [41]:
#Philadelphia: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4560349&ref=pagination&page=5

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4560349&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Philadelphia", "Pennsylvania","Northeast"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
philadelphia_listings = listing_data
philadelphia_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,Nike Brasil Soccer Jersey,25.00,Philadelphia,Pennsylvania,Northeast
1,Sweet Vtg Bridal Shoulder Shrug/Hand Woven Ice...,88.00,Philadelphia,Pennsylvania,Northeast
2,Harve Benard Skirt Small. Vintage Designer Sk...,48.00,Philadelphia,Pennsylvania,Northeast
3,90s Elmo Tank Top - L,18.00,Philadelphia,Pennsylvania,Northeast
4,50s Bogan High School Letterman Sweater Medium,249.99,Philadelphia,Pennsylvania,Northeast

In [42]:
#Alabama: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4829764&ref=pagination&page=5

listing_info = []
for i in range(1,134):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4829764&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Alabama", "Alabama","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
alabama_listings = listing_data
alabama_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6337

,Description,Price,City,State,Region
0,Vintage HEIN GERICKE for HARLEY Davidson Lea...,74.00,Alabama,Alabama,South
1,80s Dark Blue Top Women Small Short Sleeve Blu...,17.50,Alabama,Alabama,South
2,Vintage Swimsuit Pink Swimsuit 80s Swimsuit On...,72.00,Alabama,Alabama,South
3,90s shirt / 90s plaid shirt / 90s top / 80s Sh...,31.00,Alabama,Alabama,South
4,Tommy Hilfiger Jean shorts size 4,18.50,Alabama,Alabama,South

In [43]:
#Milwaukee: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5263045&ref=pagination&page=3

listing_info = []
for i in range(1,87):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5263045&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Milwaukee", "Wisconsin","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
milwaukee_listings = listing_data
milwaukee_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4081

,Description,Price,City,State,Region
0,80's Polka Dot Blouse/Lloyd Williams/Red Polka...,22.00,Milwaukee,Wisconsin,Midwest
1,Sale was 25 now 19. 80s Abstract Blouse by And...,19.00,Milwaukee,Wisconsin,Midwest
2,"Vintage Reversible Floral to Stripe Skirt, Vin...",16.20,Milwaukee,Wisconsin,Midwest
3,Designer Vintage Valentino Dress // Couture It...,99.00,Milwaukee,Wisconsin,Midwest
4,"vintage paisley coat, 40s paisley coat, Victor...",284.00,Milwaukee,Wisconsin,Midwest

In [44]:
#charlotte: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4460243&ref=pagination&page=2

listing_info = []
for i in range(1,84):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4460243&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Charlotte", "North Carolina","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
charlotte_listings = listing_data
charlotte_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3952

,Description,Price,City,State,Region
0,Opaque Tights with Cuts,12.76,Charlotte,North Carolina,South
1,80s Vintage Petite French Cut Minimal High Wai...,75.00,Charlotte,North Carolina,South
2,Mexican wedding dress,98.00,Charlotte,North Carolina,South
3,Women's Vintage Satin Button up Blouse Size Me...,34.00,Charlotte,North Carolina,South
4,Womens Vintage Butterfly Blouse Size Medium Di...,45.00,Charlotte,North Carolina,South

In [45]:
#nevada: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5509151&ref=pagination&page=6

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5509151&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Nevada", "Nevada","West"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
nevada_listings = listing_data
nevada_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,1970's Chinese Jacket Reversible Brown Yellow ...,48.00,Nevada,Nevada,West
1,Vintage Lemon Meringue Silk Ribbon Dress with ...,95.00,Nevada,Nevada,West
2,Little Black One Shoulder Dress with Drop Wais...,50.00,Nevada,Nevada,West
3,Vintage Dress Elinor Gay Original,129.99,Nevada,Nevada,West
4,"Loro Piana Merino Wool Pants, Vintage Designer...",85.00,Nevada,Nevada,West

In [46]:
#chicago: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4887398&ref=pagination&page=4

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4887398&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Chicago", "Illinois","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
chicago_listings = listing_data
chicago_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,Bogner Vintage Ski Clothes Bogner Retro Orange...,149.00,Chicago,Illinois,Midwest
1,1990s Chicago White Sox Vintage Tee - Vintage ...,14.99,Chicago,Illinois,Midwest
2,Vintage High-Waisted Flare Jeans (Size 32),40.00,Chicago,Illinois,Midwest
3,Sleeveless NANETTE LEPORE DRESS,85.00,Chicago,Illinois,Midwest
4,Vintage Bohemian dress- size Sm/Med,120.00,Chicago,Illinois,Midwest

In [47]:
#idaho: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5596512&ref=pagination&page=7

listing_info = []
for i in range(1,90):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5596512&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Idaho", "Idaho","Northwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
idaho_listings = listing_data
idaho_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4270

,Description,Price,City,State,Region
0,"1980’s Burberrys Trench Coat, Burberrys Coat, ...",424.99,Idaho,Idaho,Northwest
1,Vintage 1970s Airbrush T Shirt / XS - S - M / ...,74.99,Idaho,Idaho,Northwest
2,Vintage 1950's 60's Pastel Metallic Crop Top w...,36.00,Idaho,Idaho,Northwest
3,Unisex Vintage 1990s Password Shirt Size Small...,25.00,Idaho,Idaho,Northwest
4,1980s Vintage Badass Rocker Red Wool Jacket wi...,25.00,Idaho,Idaho,Northwest

In [48]:
#nebraska: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5073708&ref=pagination&page=7

listing_info = []
for i in range(1,95):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5073708&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Nebraska", "Nebraska","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
nebraska_listings = listing_data
nebraska_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4474

,Description,Price,City,State,Region
0,Size M 1960s Dress hippie boho festival floral...,70.40,Nebraska,Nebraska,Great Plains
1,M/L Womens Vintage sweater 1980s 80s chunky he...,36.00,Nebraska,Nebraska,Great Plains
2,Vintage Russell Athletic Gym Shorts Striped De...,16.00,Nebraska,Nebraska,Great Plains
3,"40s 50s Black Lace Slip, Black Rayon Full Slip...",33.99,Nebraska,Nebraska,Great Plains
4,Blue Polyester Muu-Muu w/colorful purple &amp;...,34.99,Nebraska,Nebraska,Great Plains

In [49]:
#atlanta: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4180439&ref=pagination&page=4

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4180439&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Atlanta", "Georgia","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
atlanta_listings = listing_data
atlanta_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,Vintage T Shirt Tee Tshirt 70s 80s 90s YOU PIC...,4.98,Atlanta,Georgia,South
1,Buy 2 Get Any 1 Free- Oversized Vintage Flanne...,25.00,Atlanta,Georgia,South
2,Beautiful Brocade Skirt,65.00,Atlanta,Georgia,South
3,Vintage dress,35.00,Atlanta,Georgia,South
4,Blue Stone Silver Round Brooch,54.00,Atlanta,Georgia,South

In [50]:
#kentucky: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=6254925&ref=pagination&page=3

listing_info = []
for i in range(1,97):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=6254925&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Kentucky", "Kentucky","South"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
kentucky_listings = listing_data
kentucky_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4561

,Description,Price,City,State,Region
0,"VINTAGE Unicorn puff printed tee ""LIMITED EDI...",30.00,Kentucky,Kentucky,South
1,Vintage Nylon Tap panties small Silky Lace ins...,17.99,Kentucky,Kentucky,South
2,"60s - blue peignoir robe - ""Movie Star"" - wit...",18.00,Kentucky,Kentucky,South
3,Vintage High waisted swimsuit bottoms,8.00,Kentucky,Kentucky,South
4,"Vintage 1970s Lee Misses Jeans With Tags, Dark...",88.00,Kentucky,Kentucky,South

In [51]:
dfs = [losangeles_listings, philadelphia_listings, alabama_listings, milwaukee_listings, charlotte_listings, nevada_listings, chicago_listings, idaho_listings, nebraska_listings, atlanta_listings, kentucky_listings]
combined = pd.concat(dfs)

combined.reset_index(inplace=True)

combined.to_csv(r'C:\Users\Starshine1000\desktop\Etsy\losangeles_thru_kentucky_032220.csv')

In [53]:
len(combined)

63195

In [59]:
#montana: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5667009&ref=pagination&page=2


listing_info = []
for i in range(1,31):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5667009&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Montana", "Montana","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
montana_listings = listing_data
montana_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1434

,Description,Price,City,State,Region
0,Vintage Suede Fringe Cape-Suede Poncho-Leather...,125.00,Montana,Montana,Great Plains
1,50s Hawaiian Dress in Blue Cotton with Delicat...,125.00,Montana,Montana,Great Plains
2,Leopard Print Wrap Dress Animal Print,50.00,Montana,Montana,Great Plains
3,Red Lilli Ann Coat with Black Fur Collar Wool ...,442.40,Montana,Montana,Great Plains
4,Vintage Full Length Leather Coat,50.00,Montana,Montana,Great Plains

In [60]:
#Denver: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5419384&ref=pagination&page=3

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5419384&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Denver", "Colorado","West"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
denver_listings = listing_data
denver_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,Vintage VERTIGO Navy Sailor Pants Made In Fra...,87.00,Denver,Colorado,West
1,Vintage Tan Suede Shorts with pockets and Snap...,38.40,Denver,Colorado,West
2,Royal Blue Gown w/ peek-a-boo openings down th...,70.00,Denver,Colorado,West
3,1920s Reversible Black Satin Opera Cape,180.00,Denver,Colorado,West
4,Vintage Baggy Herringbone Shorts / Vintage Bag...,32.00,Denver,Colorado,West

In [61]:
#North Dakota: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5690763&ref=pagination&page=2

listing_info = []
for i in range(1,29):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5690763&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"North Dakota", "North Dakota","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
northdakota_listings = listing_data
northdakota_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1335

,Description,Price,City,State,Region
0,Vintage mod dress,38.00,North Dakota,North Dakota,Great Plains
1,Yellow Disco Dress 70s Vintage Halter Retro Pa...,39.99,North Dakota,North Dakota,Great Plains
2,"Vintage, 1960, Blue Lace Maxi Dress, Formal, S...",49.00,North Dakota,North Dakota,Great Plains
3,Exquisite 1970s African Tunic Print Blouse Shi...,46.75,North Dakota,North Dakota,Great Plains
4,Vintage || 1950s Electric Jasmine Robe &amp; D...,47.60,North Dakota,North Dakota,Great Plains

In [62]:
#South Dakota: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5769223&ref=pagination&page=3

listing_info = []
for i in range(1,24):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5769223&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"South Dakota", "South Dakota","Great Plains"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
southdakota_listings = listing_data
southdakota_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1064

,Description,Price,City,State,Region
0,ombre vintage kimono jacket - 70s gold blue em...,56.95,South Dakota,South Dakota,Great Plains
1,1920’s Cream Beautiful Detailed Beaded Pearled...,55.00,South Dakota,South Dakota,Great Plains
2,Vtg 90s Tantrums Sequined Beaded City Scene Ja...,28.00,South Dakota,South Dakota,Great Plains
3,Punch Line Black Suede Woman's Vintage Zip Up ...,24.30,South Dakota,South Dakota,Great Plains
4,Classic Chevron Skirt - Vintage Chevron Skirt ...,20.00,South Dakota,South Dakota,Great Plains

In [63]:
#Iowa: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4862182&ref=pagination&page=4

listing_info = []
for i in range(1,69):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4862182&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Iowa", "Iowa","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
iowa_listings = listing_data
iowa_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3233

,Description,Price,City,State,Region
0,"Vintage red one-piece swimsuit, 1950s pin-up s...",154.00,Iowa,Iowa,Midwest
1,Vintage Lisa Jo Suit Jacket. Size 9/10. Purple...,10.00,Iowa,Iowa,Midwest
2,Vintage White Tunic Long Thin Cotton Top Women...,15.00,Iowa,Iowa,Midwest
3,Kiss Me foreign languages vintage t-shirt Shor...,28.00,Iowa,Iowa,Midwest
4,"Vintage 1992 Large John Denver ""Earth Songs"" S...",67.49,Iowa,Iowa,Midwest

In [64]:
#Cincinnati: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4508722&ref=pagination&page=2

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=4508722&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Cincinnati", "Ohio","Midwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
cincinnati_listings = listing_data
cincinnati_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496

AttributeError: 'NoneType' object has no attribute 'find_all'

In [65]:
columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
cincinnati_listings = listing_data
cincinnati_listings.head()

,Description,Price,City,State,Region
0,"Vintage 60's black wool blazer, double breaste...",49.99,Cincinnati,Ohio,Midwest
1,"Vintage STP racing jaket USA, XL",42.00,Cincinnati,Ohio,Midwest
2,Deadstock Purple Jordache Oversized Sweatshirt...,45.00,Cincinnati,Ohio,Midwest
3,Vintage 1900s John Wanamaker Black Silk Walkin...,85.00,Cincinnati,Ohio,Midwest
4,Vintage Speed Freaks Racer Single Stitch T-shirt,25.00,Cincinnati,Ohio,Midwest

In [66]:
#Phoenix: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5308655&ref=pagination&page=2

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5308655&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Phoenix", "Arizona","Southwest"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
phoenix_listings = listing_data
phoenix_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018
4018

KeyboardInterrupt:

In [67]:
columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
phoenix_listings = listing_data
phoenix_listings.head()

,Description,Price,City,State,Region
0,90s Vintage Floral Jacket,44.95,Phoenix,Arizona,Southwest
1,Vintage trench coat,68.00,Phoenix,Arizona,Southwest
2,Vintage Jersey - Russell Southern - High Schoo...,70.00,Phoenix,Arizona,Southwest
3,Cute 80's tea length denim button up skirt,38.00,Phoenix,Arizona,Southwest
4,"Vintage 90s Leopard Print Two Piece Dress Set,...",34.00,Phoenix,Arizona,Southwest

In [68]:
#Massachusetts: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=6254926&ref=pagination&page=3

listing_info = []
for i in range(1,149):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=6254926&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"Massachusetts", "Massachusetts","Northeast"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
mass_listings = listing_data
mass_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3360
3408
3456
3504
3552
3600
3648
3696
3744
3792
3840
3888
3936
3984
4032
4080
4128
4176
4224
4272
4320
4368
4416
4464
4512
4560
4608
4656
4704
4752
4800
4848
4896
4944
4992
5040
5088
5136
5184
5232
5280
5328
5376
5424
5472
5520
5568
5616
5664
5712
5760
5808
5856
5904
5952
6000
6048
6096
6144
6192
6240
6288
6336
6384
6432
6480
6528
6576
6624
6672
6720
6768
6816
6864
6912
6960
7008
7056
7104

,Description,Price,City,State,Region
0,1900s Edwardian Dress / Edwardian Tea Dress /...,350.00,Massachusetts,Massachusetts,Northeast
1,"Big John Vintage Jeans- Men's Jeans sz 32""/34""...",159.99,Massachusetts,Massachusetts,Northeast
2,"Camouflage Army Jacket, Camouflage Jacket, Arm...",137.20,Massachusetts,Massachusetts,Northeast
3,80s FLORA KUNG--Silk Jersey Dress--Body Con--D...,287.50,Massachusetts,Massachusetts,Northeast
4,"Womens Skirt, Nautica, Vintage clothes, Vintag...",29.95,Massachusetts,Massachusetts,Northeast

In [69]:
#New Hampshire: https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5090174&ref=pagination&page=2
listing_info = []
for i in range(1,71):      # Number of pages plus one 
    url = "https://www.etsy.com/c/vintage/clothing/womens-clothing?explicit=1&locationQuery=5090174&ref=pagination&page={}".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.content, 'html.parser')
    results = soup.find(id="content")
    job_elems = results.find_all(class_="v2-listing-card__info")
    links_stage = []

    for job_elem in job_elems:
        title_elem = job_elem.find(class_='text-gray text-truncate mb-xs-0 text-body')
        title_elem = bleach.clean(title_elem, tags=[], strip=True).strip()
        price_elem = job_elem.find(class_='currency-value')
        price_elem = bleach.clean(price_elem, tags=[], strip=True).strip()
        listing_info.append((title_elem,price_elem,"New Hampshire", "New Hampshire","Northeast"))
    print(len(listing_info))

columns = ['Description','Price','City','State','Region']
listing_data = pd.DataFrame(listing_info,columns=columns)
newhampshire_listings = listing_data
newhampshire_listings.head()

48
96
144
192
240
288
336
384
432
480
528
576
624
672
720
768
816
864
912
960
1008
1056
1104
1152
1200
1248
1296
1344
1392
1440
1488
1536
1584
1632
1680
1728
1776
1824
1872
1920
1968
2016
2064
2112
2160
2208
2256
2304
2352
2400
2448
2496
2544
2592
2640
2688
2736
2784
2832
2880
2928
2976
3024
3072
3120
3168
3216
3264
3312
3344

,Description,Price,City,State,Region
0,Petite Cleavage Blouse Women sz XS Express Blo...,22.00,New Hampshire,New Hampshire,Northeast
1,Vintage General Electric Track &amp; Field 70s...,19.60,New Hampshire,New Hampshire,Northeast
2,True Religion Womens Hooded Sweatshirt Sz XS B...,36.00,New Hampshire,New Hampshire,Northeast
3,Vintage 1924 Flapper Dress Black Silk Ecru lac...,168.99,New Hampshire,New Hampshire,Northeast
4,1980s Era Women's White Antler Brand Acrylic S...,32.00,New Hampshire,New Hampshire,Northeast

In [71]:
dfs = [newhampshire_listings, mass_listings, phoenix_listings, cincinnati_listings, iowa_listings, southdakota_listings, northdakota_listings, denver_listings, montana_listings]
combined = pd.concat(dfs)

combined.reset_index(inplace=True)

combined.to_csv(r'C:\Users\Starshine1000\desktop\Etsy\newhampshire_thru_montana_032420.csv')

In [72]:
len(combined)

31132